/* Checkbox */
.checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  width: 18px;
  height: 18px;
  margin: 3px;
  opacity: 0;
}

.checkbox input[type="checkbox"] + svg {
  margin: 3px;
  transition: transform 0.1s;
}

.checkbox input[type="checkbox"]:focus-visible + svg {
  outline: 6px double black;
  box-shadow: 0 0 0 4px white;
}

.checkbox input[type="checkbox"]:active + svg {
  transform: scale(0.95);
}

.checkbox input[type="checkbox"] + svg .check {
  transform-origin: center;
}

.checkbox input[type="checkbox"]:not(:checked) + svg .check {
  opacity: 0;
  transform: scale(0.5);
  transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
